html, body {
    height: 100%;
}

body {
    background-color: white;
    background-image: url("../background.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: left top;
    color: #ffffff;
    cursor: url(http://bringerp.free.fr/Files/RotMG/cursor.gif), pointer;
    font-family: 'Press Start 2P', cursive;
}

#logo {
    background-color: #975015;
    border-color: #000000;
    border-radius: 5px;
    border-style: solid;
    border-width: 3px;
    color: white;
    height: 100%;
    margin-top: 40px;
    width: 100%;
}

#logo:hover {
    color: red;
}

#copyright {
    color: white;
    float: right;
}

#links {
    font-size: 150%;
    text-align: center;
}

.navigationLink {
    color: white;
}

.navigationLink:hover {
    color: red;
    font-size: 155%
}

.gameLogo {
    width: 100%;
    max-height: 400px;
}

.gameDescription {
    font-size: 75%;
}
